body {
}
h1 {
  font-size: 1.25em;
  border-radius: 20px;
  background-color: cornflowerblue;
  padding: 20px;
  font-family: sans-serif;
}
tr:hover {
  background: cornflowerblue;
}
table {
  border-collapse: collapse;
}
button:hover {
  background: cornflowerblue;
}
.active-button {
  background: yellow;
}
