h1 {
  font-size: 1.25em;
  border-radius: 20px;
  background-color: cornflowerblue;
  padding: 20px;
  font-family: sans-serif;
}
#rankings-table tr:hover {
  background: lightgreen;
}
th {
  border-bottom: 1px solid;
}
td, th {
  padding-right: 1em;
}
table {
  border-collapse: collapse;
}
.results-column {
  width: 50%;
  text-align: center;
}
button:hover {
  background: lightgreen;
}
.active-button {
  background: yellow;
}
.report-category {
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  margin: 1px;
  font-weight: bold;
}
.highlight {
  background: yellow;
  font-weight: bold;
}

#percentile-gauge {
  width: 200px;
  height: 200px;
  float: right;
}

@media print {
  h1 {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
  }
  header, footer {
    display: none;
  }
  body {
    font-size: 9px;
  }
  .highlight {
    border: 1px dashed;
    font-weight: bold;
  }
  td, th, tr {
    padding: none;
  }
}
